@media (max-width:950px){
.first{
display: none;
}
.newfirsthehe{
    display: flex;
}
.Logosvg{
display: flex;
}
/* .third{
    display: none;
} */
}
@media(max-width:660px){
    .third{
        display: none;
    }
}

